<% content_for :title, t("devise.registrations.new.title") %>
<h2><%= t("devise.registrations.new.title") %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div id="error-notification">
  <%= f.error_notification %>
</div>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
    <%= f.input :username,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "username" } %>
    <%= f.input :avatar, as: :file, input_html: { accept: "image/*" },
                required: false,
                autofocus: true %>
    <%= f.input :password,
                required: true,
                hint: (t("devise.registrations.new.min_password", count: @minimum_password_length) if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, t("devise.registrations.new.submit") %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
