<%- if devise_mapping.omniauthable? %>
  <div class="auth-divider" aria-hidden="true"></div>

  <div class="auth-provider-actions">
    <% resource_class.omniauth_providers.each do |provider| %>
      <% if current_user.identities.exists?(provider: "steam") %>
        <p>:white_check_mark: Steam lié</p>
        <a class="btn" href="https://steamcommunity.com/profiles/<%= user.steamid %>">Voir le compte Steam</a>
      <% elsif provider.to_s == "steam" %>
        <%= button_to user_steam_omniauth_authorize_path,
              method: :post,
              form: { data: { turbo: "false" } },
              class: "auth-provider-form" do %>
                <%= image_tag "https://community.akamai.steamstatic.com/public/images/signinthroughsteam/sits_01.png",
                alt: "steam connection button", aria: { hidden: true }, class: "steam_logo" %>
              <% end %>
      <% end %>
      <% if current_user.identities.exists?(provider: "twitch") %>
        <p>:white_check_mark: Twitch lié</p>
        <a class="btn" href="https://steamcommunity.com/profiles/<%= user.twitchid %>">Voir le compte Twitch</a>
      <% elsif provider.to_s == "twitch" %>
        <%= button_to user_twitch_omniauth_authorize_path,
              method: :post,
              form: { data: { turbo: "false" } },
              class: "auth-provider-form" do %>
                <%= image_tag "twitch_emblem.png", alt: "Twitch connection button", aria: { hidden: true }, class: "twitch_logo" %>
              <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
