<%# locals: (post:, modal: false) %>
<% modal = local_assigns.fetch(:modal, false) %>

<%= form_with model: post, local: true, class: "ps-form" do |f| %>
  <% if post.errors.any? %>
    <div class="ps-form__errors">
      <h4><%= t("posts.form.errors", count: post.errors.count) %></h4>
      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="ps-field">
    <%= f.label :title, t("posts.form.title"), class: "ps-field__label" %>
    <%= f.text_field :title, placeholder: t("posts.form.title_placeholder"), class: "ps-input" %>
  </div>

  <div class="ps-field">
    <%= f.label :game_id, t("posts.form.game"), class: "ps-field__label" %>
    <div class="ps-field__game">
      <input
        type="text"
        id="game-search"
        class="ps-input"
        placeholder="<%= t("posts.form.search_game") %>"
        autocomplete="off"
        value="<%= post.game&.name %>"
      >
      <%= f.hidden_field :game_id, id: "game-id" %>
      <div id="game-results"></div>
    </div>
  </div>

  <div class="ps-field">
    <%= f.label :platforms, t("posts.form.platforms"), class: "ps-field__label" %>
    <%= render "shared/multiselect", name: "post[platforms][]", options: Post::PLATFORMS, selected: post.platforms, placeholder: t("posts.form.select_platforms") %>
  </div>

  <div class="ps-form__row">
    <div class="ps-field">
      <%= f.label :language, t("posts.form.language"), class: "ps-field__label" %>
      <%= f.select :language, Post::LANGUAGES.map { |l| [t("post_languages.#{l}"), l] }, {}, class: "ps-select" %>
    </div>

    <div class="ps-field">
      <%= f.label :post_type, t("posts.form.type"), class: "ps-field__label" %>
      <%= f.select :post_type, Post::TYPES.map { |type| [t("post_types.#{type}"), type] }, {}, class: "ps-select" %>
    </div>
  </div>

  <div class="ps-field">
    <%= f.label :slot, t("posts.form.slot"), class: "ps-field__label" %>
    <%= f.number_field :slot, placeholder: t("posts.form.slot_placeholder"), class: "ps-input" %>
  </div>

  <div class="ps-form__actions">
    <% if modal %>
      <button type="button" class="ps-form__cancel" data-action="modal#close"><%= t("posts.form.cancel") %></button>
    <% else %>
      <%= link_to t("posts.form.cancel"), posts_path, class: "ps-form__cancel" %>
    <% end %>
    <%= f.submit class: "ps-topbar__cta ps-form__submit" %>
  </div>
<% end %>
